<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mybus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"
        tools:remove ="android:maxSdkVersion"/>
    <application
        android:name=".hiltapp.MyBusApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyBus"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".menu.alarm.UpdateAlarmActivity"
            android:exported="false" />

        <service
            android:name=".alarmservice.AlarmService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".alarmservice.AlarmReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="stop_alarm" />
                <action android:name="start_alarm" />
                <action android:name="com.example.mybus.alarmservice.SchAlarm_Start" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".menu.alarm.AddAlarmFavListActivity"
            android:exported="false" />

        <receiver
            android:name=".alarmservice.ArrAlarmNotiReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.mybus.alarmservice.ArrAlarmService.REMOVE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".alarmservice.ArrAlarmService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".menu.FireBaseSyncActivity"
            android:exported="false" />
        <activity
            android:name=".menu.alarm.AlarmArriveActivity"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.example.mybus.fromNoti" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity
            android:name=".searchDetail.BusRouteDetailActivity"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.example.mybus.fromMain" />
                <action android:name="com.example.mybus.fromSearch" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".searchDetail.StopDetailActivity"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.example.mybus.fromMain" />
                <action android:name="com.example.mybus.fromSearch" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menu.alarm.AddAlarmActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".search.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".menu.OpenSourceActivity"
            android:exported="false" />
        <activity
            android:name=".menu.HomeEditActivity"
            android:exported="false" />
        <activity
            android:name=".menu.MyAlarmActivity"
            android:exported="false" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="@string/kakao_native_key" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menu.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>